In [1]:
import numpy as np
import pandas as pd

In [2]:
marks=pd.Series([20,30,40])
marks

0    20
1    30
2    40
dtype: int64

In [4]:
marks=pd.Series([20,30,40],index=['M','P','C'],name='Marks')
marks

M    20
P    30
C    40
Name: Marks, dtype: int64

In [5]:
marks.index

Index(['M', 'P', 'C'], dtype='object')

In [6]:
marks.is_unique

True

In [7]:
marks.values

array([20, 30, 40])

# reading / slicing

In [8]:
marks[0:2]

M    20
P    30
Name: Marks, dtype: int64

In [9]:
marks[-1]

40

In [10]:
marks['C']

40

# iloc and loc

In [13]:
marks.loc['C']

40

In [16]:
marks.iloc[0]

20

In [17]:
marks.loc[:'P']

M    20
P    30
Name: Marks, dtype: int64

In [18]:
marks.loc[:'C']#inclusive

M    20
P    30
C    40
Name: Marks, dtype: int64

In [20]:
marks.iloc[:2]

M    20
P    30
Name: Marks, dtype: int64

In [21]:
marks.iloc[:1]#exclusive

M    20
Name: Marks, dtype: int64

In [22]:
marks['Comp']=67

In [23]:
marks['NA']=np.nan

In [24]:
marks

M       20.0
P       30.0
C       40.0
Comp    67.0
NA       NaN
Name: Marks, dtype: float64

# Masking

In [25]:
marks[marks>60]#boolean indexing

Comp    67.0
Name: Marks, dtype: float64

In [27]:
marks[[2,4]] #fancy indexing

C     40.0
NA     NaN
Name: Marks, dtype: float64

# functions

In [28]:
marks.describe()

count     4.000000
mean     39.250000
std      20.221688
min      20.000000
25%      27.500000
50%      35.000000
75%      46.750000
max      67.000000
Name: Marks, dtype: float64

In [29]:
marks.drop(index=['NA'])

M       20.0
P       30.0
C       40.0
Comp    67.0
Name: Marks, dtype: float64

In [31]:
marks['NA']=np.nan

In [32]:
marks.dropna()

M       20.0
P       30.0
C       40.0
Comp    67.0
Name: Marks, dtype: float64

In [33]:
marks

M       20.0
P       30.0
C       40.0
Comp    67.0
NA       NaN
Name: Marks, dtype: float64

In [34]:
marks.dropna(inplace=True)

In [35]:
marks

M       20.0
P       30.0
C       40.0
Comp    67.0
Name: Marks, dtype: float64

In [36]:
marks['NA']=np.nan

In [39]:
marks.fillna(value=marks.mean(),inplace=True)

In [40]:
marks

M       20.00
P       30.00
C       40.00
Comp    67.00
NA      39.25
Name: Marks, dtype: float64

In [41]:
def calc(x):
    if x>=39:
        return True
    else:
        return False
    


marks.apply(calc)

M       False
P       False
C        True
Comp     True
NA       True
Name: Marks, dtype: bool

In [44]:
marks.head()

M       20.00
P       30.00
C       40.00
Comp    67.00
NA      39.25
Name: Marks, dtype: float64

In [45]:
marks.tail()

M       20.00
P       30.00
C       40.00
Comp    67.00
NA      39.25
Name: Marks, dtype: float64